@model IEnumerable<mart.Models.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menus/_SharedEshopper.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Glyph)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MenuText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Glyph)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MenuID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MenuID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MenuID })
        </td>
    </tr>
}

</table>
